{% extends 'base-backend.html.twig' %}

{% block title %}Nouveau livre{% endblock %}

{% block body %}
<a href="{{ path('app_admin_book_index') }}"class="btn btn-dark -sm">Retour a la liste</a>
    <h1 class="mt-3">Nouveau livre</h1>

    {{ include('admin_book/_form.html.twig') }}

    
{% endblock %}
